language: ruby
before_install:
  - travis_retry gem install bundler
rvm:
  - "2.0.0"
gemfile: Gemfile
script: 
  - bundle
  - bundle install
  - cd test; 
  - ruby test_hwid.rb
notifications:
  recipients:
    - scott.sproule@estormtech.com
  email:
    on_success: change
    on_failure: always
addons:
  code_climate:
    repo_token: 885a28736bc9e348e718cf4fbfdea1ec098fea3c54a9f027d5e1e7aa666c0c4b 
